<% provide(:title, "overtime apply") %>
<% provide(:class_text, "") %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <!--×マーク-->
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h3 class="modal-title center">【残業申請】</h3>
    </div>
    
    <div class="modal-body">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <td><div class="text-center"><%= Attendance.human_attribute_name :worked_on %></dib></td>
                <td><div class="text-center"><%= I18n.t('day_name') %></dib></td>
                <td><div class="text-center"><%= "終了予定時刻" %></dib></td>
                <td><div class="text-center"><%= "翌日" %></dib></td>
                <td><div class="text-center"><%= "業務処理内容" %></dib></td>
                <td><div class="text-center"><%= "指示書確認㊞" %></dib></td>
              </tr>
            </thead>
            
            <tbody>
              <tr>
                <td><div class="text-center"><%= l(@day, format: :short) %></dib></td>
                <td>
                  <div class="text-center">
                  <!-- 曜日 -->
                  <% @wday = $days_of_the_week[@day.wday] %>
                  <% if @wday == '土' %><font color="blue"><%= @wday %></font>
                  <% elsif @wday == '日' %><font color="red"><%= @wday %></font>
                  <% elsif %>
                    <%= @wday %>
                  <% end %>
                  </dib>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
  </div>
</div>