<% provide(:title, 'All Users') %>
<h1><%= @search_value ? "\" #{@sea} \" の検索結果" : "全てのユーザー" %></h1>

<div class="pull-right">
  <%= form_with(model: User.new, url: users_path, method: :get, local: true) do |f| %>
    <%= f.label :name, 'ユーザー名検索' %><br>
    <%= f.text_field :name, value: (@sea if @search_value) %>
    <%= f.submit '検索', class:"btn btn-sm btn-primary" %>
    <%= link_to "Reset", users_path, class:"btn btn-sm btn-warning" %>
  <% end %>
</div>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <!-- 名前 -->
        <th><%= User.human_attribute_name :name %></th>
        <!-- 所属 -->
        <th class="center"><%= User.human_attribute_name :department %></th>
        
        <!-- 基本時間、勤務時間 -->
        <% if current_user.admin? %>
          <th class="center"><%= User.human_attribute_name :basic_time %></th>
          <th class="center"><%= User.human_attribute_name :work_time %></th>
        <% end %>
        <th></th>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <tr>
        <!-- 名前 -->
        <td>
          <% if current_user.admin? %>
            <%= link_to user.name, user %>
          <% else %>
            <%= user.name %>
          <% end %>
        </td>
        <!-- 所属 -->
        <td class="center"><%= user.department.present? ? user.department : "無所属" %></td>
        
        <!-- 基本時間、勤務時間 -->
        <% if current_user.admin? %>
          <td class="center"><%= format_basic_info(user.work_time) %></td>
          <td class="center"><%= format_basic_info(user.basic_time) %></td>
        <% end %>
        
        <!-- モーダル -->
        <td class="center">
          <% if current_user.admin? && !current_user?(user) %>
            <%= link_to "基本情報編集", edit_basic_info_user_path(user), remote: true, class: "btn btn-success" %>
            <%= link_to "削除", user, method: :delete,
                data: { confirm: "削除してよろしいですか？" },
                class: "btn btn-danger" %>
          <% end %>
        </td>
        
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>

<!--モーダルウインドウ表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>