<% provide(:class_text, 'basic-info') %>
<% provide(:title, 'All Users') %>
<h1><%= @search_value ? "\" #{@search} \" の検索結果" : "全てのユーザー" %></h1>

<!-- CSVインポート -->
<div class="">
<%= form_tag import_users_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "CSVをインポート", class:"btn btn-primary"%>
<% end %>
</div>

<div class="pull-right">
  <%= form_with(model: User.new, url: users_path, method: :get, local: true) do |f| %>
    <%= f.label :name, 'ユーザー名検索' %><br>
    <%= f.text_field :name, value: (@search if @search_value) %>
    <%= f.submit '検索', class:"btn btn-sm btn-primary" %>
    <%= link_to "Reset", users_path, class:"btn btn-sm btn-warning" %>
  <% end %>
</div>

<%= will_paginate %>
<% @users.each do |user| %>
<table>
  <div class="row">
    <tr>
      <%= user.name %><br>
      <td class="center">
        <% if current_user.admin? && !current_user?(user) %>
        <%= "|" %>
          <%= link_to "削除", user, method: :delete,
              data: { confirm: "削除してよろしいですか？" },
              class: "btn btn-primary" %>
        <% end %>
      </td>
    </tr>
  </div>
</table>
  
  <div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <button type="button" class="btn btn-lg btn-primary" data-toggle="collapse" data-target="#collapse<%= user.id %>">編集</button>
    </h4>
    </div>
    <div id="collapse<%= user.id %>" class="panel-collapse collapse out">
      <div class="panel-body">
        <%= form_with(model: user, local: true) do |f| %>
          
          <%= f.label :name, class: "label-#{yield(:class_text)}" %>
          <%= f.text_field :name, class: "form-control" %>
        
          <%= f.label :email, class: "label-#{yield(:class_text)}" %>
          <%= f.email_field :email, class: "form-control" %>
          
          <%= f.label :affiliation, class: "label-#{yield(:class_text)}" %>
          <%= f.text_field :affiliation, class: "form-control" %>
          
          <%= f.label :employee_number, class: "label-#{yield(:class_text)}" %>
          <%= f.text_field :employee_number, class: "form-control" %>
          
          <%= f.label :uid, class: "label-#{yield(:class_text)}" %>
          <%= f.text_field :uid, class: "form-control" %>
          
          <%= f.label :password, class: "label-#{yield(:class_text)}" %>
          <%= f.password_field :password, class: "form-control" %>
        
          <%= f.label :basic_work_time, class: "label-#{yield(:class_text)}" %>
          <%= f.time_field :basic_work_time, class: "form-control" %>
          
          <%= f.label :designated_work_start_time, class: "label-#{yield(:class_text)}" %>
          <%= f.time_field :designated_work_start_time, class: "form-control" %>
          
          <%= f.label :designated_work_end_time, class: "label-#{yield(:class_text)}" %>
          <%= f.time_field :designated_work_end_time, class: "form-control" %>
          
          <%= f.submit "編集する", class: "btn btn-primary btn-block btn-#{yield(:class_text)}" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<%= will_paginate %>


<!--モーダルウインドウ表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>