<% provide(:title, 'All Users') %>
<% provide(:class_text, 'basic-info') %>
<% provide(:button_text, '編集する') %>
<h1><%= @search_value ? "\" #{@search} \" の検索結果" : "全てのユーザー" %></h1>

<!-- CSVインポート -->
<div class="">
<%= form_tag import_users_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "CSVをインポート", class:"btn btn-primary"%>
<% end %>
</div>

<!-- ユーザー検索 -->
<div class="pull-right">
  <%= form_with(model: User.new, url: users_path, method: :get, local: true) do |f| %>
    <%= f.label :name, 'ユーザー名検索' %><br>
    <%= f.text_field :name, value: (@search if @search_value) %>
    <%= f.submit '検索', class:"btn btn-sm btn-primary" %>
    <%= link_to "Reset", users_path, class:"btn btn-sm btn-warning" %>
  <% end %>
</div>

<%= will_paginate %>
<% @users.each do |user| %>
  <% unless user.admin? %>
    <table>
      <div class="row">
        <tr>
          <%= user.name %><br>
          <td class="center">
            <%= "|" %>
              <%= link_to "削除", user, method: :delete,
                  data: { confirm: "削除してよろしいですか？" },
                  class: "btn btn-primary" %>
          </td>
        </tr>
      </div>
    </table>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <button type="button" class="btn btn-lg btn-primary" data-toggle="collapse" data-target="#collapse<%= user.id %>">編集</button>
        </h4>
      </div>
      <div id="collapse<%= user.id %>" class="panel-collapse collapse out">
        <div class="panel-body">
          <%= render 'users/form_index',{user: user} %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<%= will_paginate %>


<!--モーダルウインドウ表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>