<% provide(:title, "Notice OverTime") %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    
    <div class="modal">
      <!--×マーク-->
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body">
      <% @users.each do |user| %>
        <% @o_check = false %>
        
          <!--attendanceで回す-->
          <% user.attendances.each do |attendance| %>
            <% if attendance.o_request == @user.name %>
              <%= "見つかった申請者が、現在アカウントと一致しました。" %><br>
              <% @o_check = true %>
            <% end %>
          <% end %>
          <!--attendanceで回す-->
        
        <% if @o_check == true %>
        <h3 class="modal-title center"><%= "【#{user.name}からの残業申請】" %></h3>
          <!--dayで回す-->
          <% user.attendances.each do |day| %>
            <%= "debug：#{day.worked_on}" %><br>
            <%= "debug：#{day.o_request}" %><br>
          <% end %>
          
          <% user.attendances.each do |day| %>
            <% @user = @users.find(user.id) %>
            <% @day = @user.attendances.find(day.id) %>
            
            <% form_with(model: @user, url: attendances_update_notice_overtime_user_path(date: @day.worked_on), local: true, method: :patch) do |f| %>
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <table class="table table-bordered table-striped table-position">
                  <thead>
                    <tr>
                      <th><%= "tablehedder1" %></th>
                      <th><%= "tablehedder2" %></th>
                      <th><%= "tablehedder3" %></th>
                    </tr>
                  </thead>
                  
                  <% if @day.o_request == @user.name %>
                  <%= "debug：#{day.worked_on}：この日のフォームを作成する" %><br>
                  <tbody>
                    <%= f.fields_for "attendances[]", @day do |attendance| %>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <% end %>
                  </tbody>
                  <% end %>
                </table>
              </div>
              
              <div class="center">
                <%= f.submit "申請する", class: "btn btn-md btn-primary" %>
              </div>
              <%= "↑　ここまで#{user.name}のフォームです。" %>
              
            </div>
            <% end %>
          <% end %>
          <!--dayで回す-->
        <% end %>
        
      <% end %>
    </div>
  </div>
</div>
