<% provide(:title, "Notice OverTime") %>
<% @aaa = 0 %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    
    <div class="modal">
      <!--×マーク-->
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body">
      <% @users.each do |user| %>
      
        <!--dayで回す-->
        <% user.attendances.each do |day| %>
        <% @o_check = 0 %>
          
          <% if day.o_request == @current_user.name %>
            <% @o_check = day.o_reqcount %>
          <% end %>
        
          <% if @o_check >= 1 %>
          <h3 class="modal-title center"><%= "【#{user.name}からの残業申請】" %></h3>
          
            <% @user = @users.find(user.id) %>
            <% @day = @user.attendances.find(day.id) %>
            
            <%= form_with(model: @user, url: attendances_update_notice_overtime_user_path(date: @day.worked_on), local: true, method: :patch) do |f| %>
            
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <table class="table table-bordered table-striped table-position">
                  
                  <thead>
                    <tr>
                      <th><%= "tablehedder1" %></th>
                      <th><%= "tablehedder2" %></th>
                      <th><%= "tablehedder3" %></th>
                    </tr>
                  </thead>
                  
                  <% if @aaa == 1 %>
                    <% binding.pry %>
                    <% @aaa = 1 %>
                  <% end %>
                  
                  <% if @day.o_request == @current_user.name %>
                  <tbody>
                    <%= f.fields_for "attendances[]", @day do |attendance| %>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <% end %>
                  </tbody>
                  <% end %>
                </table>
              </div>
              
              <div class="center">
                <%= f.submit "編集する", class: "btn btn-md btn-primary" %>
              </div>
              
            </div>
            <% end %>
          <% end %>
        <% end %>
        <!--dayで回す-->
        
      <% end %>
    </div>
  </div>
</div>
