<% provide(:title, @user.name) %>
<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <!--×マーク-->
    <div class="modal-header" style="border:none">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12 position">
          
          <%= form_with(model: @user, url: attendances_update_notice_overtime_user_path, local: true, method: :patch) do |f| %>
            <% @notice_user.each do |notice_user| %>
              <h4 class="modal-title" style="text-align:center"><%= "【#{notice_user.name}からの残業申請】" %></h4>
              <table class="table table-bordered table-striped table-position table-hover">
                <thead>
                  <tr>
                    <th><%= Attendance.human_attribute_name :worked_on %></th>
                    <th><%= I18n.t('day_name') %></th>
                    <th><%= Attendance.human_attribute_name :end_time %></th>
                    <th><%= User.human_attribute_name :designated_work_end_time %></th>
                    <th><%= "時間外残業" %></th>
                    <th><%= Attendance.human_attribute_name :business_process %></th>
                    <th><%= Attendance.human_attribute_name :o_approval %></th>
                    <th><%= Attendance.human_attribute_name :change %></th>
                    <th><%= "勤怠を確認する" %></th>
                  </tr>
                </thead>
                
                <% @attendance_lists.where(user_id: notice_user.id).each do |ats| %>
                  <%= f.fields_for "attendances[]", ats do |at| %>
                  <tbody>
                    <tr>
                      <!-- 日付 -->
                      <td class="center"><%= l(ats.worked_on, format: :short) %></td>
                      <!-- 曜日 -->
                      <td class="center"><%= render 'shared/day_of_week', object: @oneday = ats %></td>
                      <!-- 終了予定時刻 -->
                      <td class="center"><%= l(ats.end_time, format: :time) %></td>
                      <!-- 指定勤務終了時間 -->
                      <td class="center"><%= l(notice_user.designated_work_end_time, format: :time) %></td>
                      <!-- 時間外残業 -->
                      <td class="center"><%= "#{ats.overtime} h" %></td>
                      <!-- 業務処理内容 -->
                      <td class="center"><%= ats.business_process %></td>
                      <!-- 指示者確認㊞ -->
                      <td class="dropdown_menu">
                        <%= at.select :o_approval, ['', 'なし', '申請中', '承認', '否認'], {} %>
                      </td>
                      <!-- 変更 -->
                      <td class="center"><%= at.check_box :change, {:checked => false} %></td>
                      <!-- 勤怠の確認 -->
                      <td>
                        <%= link_to "確認", user_path(notice_user.id, date: "2020-#{ats.worked_on.month}-01"), :target=>["_new"], class: "btn btn-sm btn-primary" %>
                      </td>
                    </tr>
                  </tbody>
                  <% end %>
                <% end %>
                
              </table>
            <% end %>
              
          <!--ボタン-->
          <div class="center">
            <%= link_to "キャンセル", user_url(@user), class: "btn btn-md btn-default" %>
            <%= f.submit "変更を送信する", class: "btn btn-md btn-primary" %>
          </div>
          <% end %>
        </div> 
      </div>
    </div>
    </div>
  </div>
</div>
