<% provide(:title, @user.name) %>
<% aaa = 0 %>
<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
  <div class="modal-header" style="border:none">
      <!--×マーク-->
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <h4 class="modal-title" style="text-align:center">【残業申請】</h4>
    <div class="modal-body">
    <%= form_with(model: @user, url: attendances_update_overtime_user_path(date: @day.worked_on), local: true, method: :patch) do |f| %>

<!--debugger-->
  <% if aaa == 0 %>
    <% binding.pry %>
    <% aaa = 1 %>
  <% end %>
<!--debugger-->

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <table class="table table-bordered table-striped table-position">
            <thead>
              <tr>
                <th><%= Attendance.human_attribute_name :worked_on %></th>
                <th><%= I18n.t('day_name') %></th>
                <th><%= "終了予定時刻" %></th>
                <th><%= "翌日" %></th>
                <th><%= "業務処理内容" %></th>
                <th><%= "指示書確認㊞" %></th>
              </tr>
            </thead>

            <tbody>
              <%= f.fields_for "attendances[]", @day do |attendance| %>
                <tr>
                  <td><%= l(@day.worked_on, format: :short) %></td>
                  <td>
                    <!-- 曜日 -->
                    <% @wday = $days_of_the_week[@day.worked_on.wday] %>
                    <% if @wday == '土' %><font color="blue"><%= @wday %></font>
                    <% elsif @wday == '日' %><font color="red"><%= @wday %></font>
                    <% elsif %>
                      <%= @wday %>
                    <% end %>
                  </td>
                  <td><%= attendance.time_select :end_time, :minute_step => 15 %></td>
                  <td><%= attendance.check_box :nextday %></td>
                  <td><%= attendance.text_field :business_process %></td>
                  <td>
                    <div class="dropdown_menu">
                      <%= attendance.select :o_request, ['', '上長A', '上長B'], {} %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          
          <div class="center">
            <%= f.submit "申請する", class: "btn btn-md btn-primary" %>
          </div>
          
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
