<% provide(:title, @user.name) %>
<%= form_with(model: @user, url: attendances_update_one_month_user_path(date: @first_day), local: true, method: :patch) do |f| %>

<div>
  <h1>勤怠編集画面</h1>
    <table class="table table-bordered table-condensed table-hover" id="table-attendances">
      <thead>
        <tr>
          <th>日付</th>
          <th>曜日</th>
          <th>出社</th>
          <th>退社</th>
          <th>在社時間</th>
          <th>備考</th>
        </tr>
      </thead>
      <tbody>
        <% @attendances.each do |day| %>
          <%= f.fields_for "attendances[]", day do |attendance| %>
            <tr>
              <td>
                <!--日付 -->
                <%= l(day.worked_on, format: :short) %>
              </td>
              <td>
                <!-- 曜日 -->
                <% @wday = $days_of_the_week[day.worked_on.wday] %>
                <% if @wday == '土' %><font color="blue"><%= @wday %></font>
                <% elsif @wday == '日' %><font color="red"><%= @wday %></font>
                <% elsif %>
                  <%= @wday %>
                <% end %>
              </td>
              
              <!-- 出社、退社 -->
              <% if Date.current < day.worked_on %>
                <td><%= attendance.time_field :started_at, readonly: true, class: "form-control" %></td>
                <td><%= attendance.time_field :finished_at, readonly: true, class: "form-control" %></td>
              <% else %>
                <td><%= attendance.time_field :started_at, class: "form-control" %></td>
                <td><%= attendance.time_field :finished_at, class: "form-control" %></td>
              <% end %>
              
              <!-- 在社時間 -->
              <td>
                <% if day.started_at.present? && day.finished_at.present? %>
                  <%= working_times(day.started_at.floor_to(15.minutes), day.finished_at.floor_to(15.minutes)) %>
                <% end %>
              </td>
              
              <!-- 備考 -->
              <td><%= attendance.text_field :note, class: "form-control" %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="center">
    <%= link_to "キャンセル", user_path(date: @first_day), class: "btn btn-md btn-default" %>
    <%= f.submit "編集を保存する", class: "btn btn-md btn-primary" %>
  </div>
<% end %>